.heading{
  font-size: 47px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.table-head{
  background-color: blue;
}
.main-head{
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.time-s{
  align-items: self-end;
}
.userLogo{
  border-radius: 100%;
  width: 25px;
  height: 25px;
}